.info-1, .info-2, .info-3 {
    color: white;
    text-shadow: 1px 1px 1px black;
    
}

section 
{
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
    height: 250px;
    margin: 0 auto;
    border-radius: 20px;
    background-size: 220%;
}

.info-1
{
    background: url(./assets/task2-bg.jpeg);
    background-size: 120%;
}

.info-2
{
    background: url(./assets/task2-bg1.jpeg);
    background-size: 120%;
    
}

.info-3
{
    background: url(./assets/task2-bg2.jpg);
    background-size: 120%;
    
}

article, h2 
{
   margin-left: 30px;
   margin-top: 50px;

}